In [1]:
import pandas as pd
import csv

import pandas as pd 
from textblob import TextBlob
import pandas as pd
import numpy as np
import re
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

In [2]:
#df1 = pd.read_csv("/Users/garg/Desktop/thesis/complete-variables-2018.csv",index_col=0)
#df1 = df1.reset_index()
#del df1['index']
#df1
#df2 = pd.read_csv("/Users/garg/Desktop/thesis/data/2008/jul_to_dec_2008.csv",index_col=0)

In [3]:
#del df2['Unnamed: 0.1']

In [4]:
df1 = pd.read_csv("/Users/garg/Desktop/thesis/data/2018/jul_to_dec_2018.csv",index_col = 0)
df1.dtypes

Unnamed: 0.1          float64
RFDE_CUST_REG_NUM      object
RFDE_RPT_DT            object
RFDE_TXN_ID            object
FII                    object
SUB_ACC                object
BRKER                  object
SCRIP_NAME             object
ISIN                   object
TR_DATE                object
TR_TYPE(*)              int64
RFDE_SE_REG_NUM         int64
RFDE_STLD_CODE         object
RATE                  float64
QUANTITY              float64
VALUE (in Rs)         float64
RFDE_INSTR_TYPE        object
RFDE_REASON_DLAY       object
RFDE_RPT_TYPE          object
RFDE_AMDMNT_REASON     object
dtype: object

In [5]:
df1['TR_DATE'] = df1['TR_DATE'].astype('datetime64[D]')
#df2['TR_DATE'] = df2['TR_DATE'].astype('datetime64[D]')

In [6]:
df1.dtypes

Unnamed: 0.1                 float64
RFDE_CUST_REG_NUM             object
RFDE_RPT_DT                   object
RFDE_TXN_ID                   object
FII                           object
SUB_ACC                       object
BRKER                         object
SCRIP_NAME                    object
ISIN                          object
TR_DATE               datetime64[ns]
TR_TYPE(*)                     int64
RFDE_SE_REG_NUM                int64
RFDE_STLD_CODE                object
RATE                         float64
QUANTITY                     float64
VALUE (in Rs)                float64
RFDE_INSTR_TYPE               object
RFDE_REASON_DLAY              object
RFDE_RPT_TYPE                 object
RFDE_AMDMNT_REASON            object
dtype: object

In [7]:
del df1['Unnamed: 0.1']
df1.dtypes

RFDE_CUST_REG_NUM             object
RFDE_RPT_DT                   object
RFDE_TXN_ID                   object
FII                           object
SUB_ACC                       object
BRKER                         object
SCRIP_NAME                    object
ISIN                          object
TR_DATE               datetime64[ns]
TR_TYPE(*)                     int64
RFDE_SE_REG_NUM                int64
RFDE_STLD_CODE                object
RATE                         float64
QUANTITY                     float64
VALUE (in Rs)                float64
RFDE_INSTR_TYPE               object
RFDE_REASON_DLAY              object
RFDE_RPT_TYPE                 object
RFDE_AMDMNT_REASON            object
dtype: object

# Foreign Exchange

In [8]:
forex = pd.read_csv("/Users/garg/Desktop/thesis/externel-data/foreign_exchange-kaggel.csv")

In [9]:
forex['Date'] = forex['Date'].astype('datetime64[D]')

In [10]:
df1['foreign-exchange'] = df1['TR_DATE'].map(forex.set_index('Date')['RUPEE-To-Dollae'])
#df2['foreign-exchange'] = df2['TR_DATE'].map(forex.set_index('Date')['RUPEE-To-Dollae'])

In [11]:
#del df['forex']

In [12]:
df1.isnull().sum()

RFDE_CUST_REG_NUM     0
RFDE_RPT_DT           0
RFDE_TXN_ID           0
FII                   0
SUB_ACC               0
BRKER                 0
SCRIP_NAME            0
ISIN                  0
TR_DATE               0
TR_TYPE(*)            0
RFDE_SE_REG_NUM       0
RFDE_STLD_CODE        0
RATE                  0
QUANTITY              0
VALUE (in Rs)         0
RFDE_INSTR_TYPE       0
RFDE_REASON_DLAY      0
RFDE_RPT_TYPE         0
RFDE_AMDMNT_REASON    0
foreign-exchange      0
dtype: int64

# INFLATION RATE

In [13]:
inflation_rate = pd.read_csv("/Users/garg/Desktop/thesis/externel-data/Inflation-Rate-OECD-Data.csv")

In [14]:
inflation_rate.dtypes

LOCATION     object
TIME         object
Value       float64
dtype: object

In [15]:
df1['Year-Month'] = df1['TR_DATE'].dt.to_period('M')
#df2['Year-Month'] = df2['TR_DATE'].dt.to_period('M')

In [16]:
df1['Year-Month'].unique()

<PeriodArray>
['2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12']
Length: 6, dtype: period[M]

In [17]:
#df2 = df2.dropna(subset=['Year-Month'])
#df2.shape

In [18]:
df1['Year-Month'] = df1['Year-Month'].astype(str)
#df2['Year-Month'] = df2['Year-Month'].astype(str)

In [19]:
df1['Inflation-Rate'] = df1['Year-Month'].map(inflation_rate.set_index('TIME')['Value'])
#df2['Inflation-Rate'] = df2['Year-Month'].map(inflation_rate.set_index('TIME')['Value'])

In [20]:
df1.isnull().sum()

RFDE_CUST_REG_NUM     0
RFDE_RPT_DT           0
RFDE_TXN_ID           0
FII                   0
SUB_ACC               0
BRKER                 0
SCRIP_NAME            0
ISIN                  0
TR_DATE               0
TR_TYPE(*)            0
RFDE_SE_REG_NUM       0
RFDE_STLD_CODE        0
RATE                  0
QUANTITY              0
VALUE (in Rs)         0
RFDE_INSTR_TYPE       0
RFDE_REASON_DLAY      0
RFDE_RPT_TYPE         0
RFDE_AMDMNT_REASON    0
foreign-exchange      0
Year-Month            0
Inflation-Rate        0
dtype: int64

# FDI INWARD

In [21]:
FDI_Inward = pd.read_csv("/Users/garg/Desktop/thesis/externel-data/FDI-Inward-OECD.csv")

FDI_Inward['Year'] = FDI_Inward['Year'].astype('str')

df1['FDI-Inward'] = ""
#df2['FDI-Inward'] = ""

df1['TR_DATE'] = df1['TR_DATE'].astype('datetime64[D]')
#df2['TR_DATE'] = df2['TR_DATE'].astype('datetime64[D]')

df1['Year'] = df1['TR_DATE'].dt.to_period('Y')
#df2['Year'] = df2['TR_DATE'].dt.to_period('Y')

df1['Year'] = df1['Year'].astype('str')
#df2['Year'] = df2['Year'].astype('str')

df1['FDI-Inward'] = df1['Year'].map(FDI_Inward.set_index('Year')['Value'])
#df2['FDI-Inward'] = df2['Year'].map(FDI_Inward.set_index('Year')['Value'])

In [22]:
df1.isnull().sum()

RFDE_CUST_REG_NUM     0
RFDE_RPT_DT           0
RFDE_TXN_ID           0
FII                   0
SUB_ACC               0
BRKER                 0
SCRIP_NAME            0
ISIN                  0
TR_DATE               0
TR_TYPE(*)            0
RFDE_SE_REG_NUM       0
RFDE_STLD_CODE        0
RATE                  0
QUANTITY              0
VALUE (in Rs)         0
RFDE_INSTR_TYPE       0
RFDE_REASON_DLAY      0
RFDE_RPT_TYPE         0
RFDE_AMDMNT_REASON    0
foreign-exchange      0
Year-Month            0
Inflation-Rate        0
FDI-Inward            0
Year                  0
dtype: int64

# FDI GROWTH RATE

In [23]:
FDI_Growth = pd.read_csv("/Users/garg/Desktop/thesis/externel-data/FDI-Growth-Rate-statista.csv")
FDI_Growth['Year'] = FDI_Growth.astype('str')

In [24]:
FDI_Growth.dtypes

Year                 object
Percentage-Value    float64
dtype: object

In [25]:
df1['Year'] = df1['TR_DATE'].dt.to_period('Y')
#df2['Year'] = df2['TR_DATE'].dt.to_period('Y')

df1['Year'] = df1['Year'].astype('str')
#df2['Year'] = df2['Year'].astype('str')

In [26]:
df1['FDI-Growth-Rate'] = df1['Year'].map(FDI_Growth.set_index('Year')['Percentage-Value'])
#df2['FDI-Growth-Rate'] = df2['Year'].map(FDI_Growth.set_index('Year')['Percentage-Value'])

In [27]:
df1.isnull().sum()

RFDE_CUST_REG_NUM     0
RFDE_RPT_DT           0
RFDE_TXN_ID           0
FII                   0
SUB_ACC               0
BRKER                 0
SCRIP_NAME            0
ISIN                  0
TR_DATE               0
TR_TYPE(*)            0
RFDE_SE_REG_NUM       0
RFDE_STLD_CODE        0
RATE                  0
QUANTITY              0
VALUE (in Rs)         0
RFDE_INSTR_TYPE       0
RFDE_REASON_DLAY      0
RFDE_RPT_TYPE         0
RFDE_AMDMNT_REASON    0
foreign-exchange      0
Year-Month            0
Inflation-Rate        0
FDI-Inward            0
Year                  0
FDI-Growth-Rate       0
dtype: int64

# FDI INWARDS

In [28]:
FDI_Inward = pd.read_csv("/Users/garg/Desktop/thesis/externel-data/FDI-Inward-OECD.csv")
FDI_Inward['Year'] = FDI_Inward['Year'].astype('str')

In [29]:
df1['FDI-Inward'] = df1['Year'].map(FDI_Inward.set_index('Year')['Value'])
#df2['FDI-Inward'] = df2['Year'].map(FDI_Inward.set_index('Year')['Value'])

In [30]:
df1.isnull().sum()

RFDE_CUST_REG_NUM     0
RFDE_RPT_DT           0
RFDE_TXN_ID           0
FII                   0
SUB_ACC               0
BRKER                 0
SCRIP_NAME            0
ISIN                  0
TR_DATE               0
TR_TYPE(*)            0
RFDE_SE_REG_NUM       0
RFDE_STLD_CODE        0
RATE                  0
QUANTITY              0
VALUE (in Rs)         0
RFDE_INSTR_TYPE       0
RFDE_REASON_DLAY      0
RFDE_RPT_TYPE         0
RFDE_AMDMNT_REASON    0
foreign-exchange      0
Year-Month            0
Inflation-Rate        0
FDI-Inward            0
Year                  0
FDI-Growth-Rate       0
dtype: int64

# GDP GROWTH RATE

In [31]:
GDP_GROWTH_RATE = pd.read_csv("/Users/garg/Desktop/thesis/externel-data/GDP-GROWTH-RATE-OECD.csv")
GDP_GROWTH_RATE['TIME'] = GDP_GROWTH_RATE['TIME'].astype('str')

In [32]:
df1['GDP-Growth-Rate'] = df1['Year'].map(GDP_GROWTH_RATE.set_index('TIME')['Value'])
#df2['GDP-Growth-Rate'] = df2['Year'].map(GDP_GROWTH_RATE.set_index('TIME')['Value'])

In [33]:
df1.isnull().sum()

RFDE_CUST_REG_NUM     0
RFDE_RPT_DT           0
RFDE_TXN_ID           0
FII                   0
SUB_ACC               0
BRKER                 0
SCRIP_NAME            0
ISIN                  0
TR_DATE               0
TR_TYPE(*)            0
RFDE_SE_REG_NUM       0
RFDE_STLD_CODE        0
RATE                  0
QUANTITY              0
VALUE (in Rs)         0
RFDE_INSTR_TYPE       0
RFDE_REASON_DLAY      0
RFDE_RPT_TYPE         0
RFDE_AMDMNT_REASON    0
foreign-exchange      0
Year-Month            0
Inflation-Rate        0
FDI-Inward            0
Year                  0
FDI-Growth-Rate       0
GDP-Growth-Rate       0
dtype: int64

# IIP

In [34]:
IIP = pd.read_csv("/Users/garg/Desktop/thesis/externel-data/IIP-Base-2015-OECD.csv")
IIP['TIME'] = IIP['TIME'].astype('str')

In [35]:
df1['IIP'] = df1['Year'].map(IIP.set_index('TIME')['Value'])
#df2['IIP'] = df2['Year'].map(IIP.set_index('TIME')['Value'])

In [36]:
df1.isnull().sum()

RFDE_CUST_REG_NUM     0
RFDE_RPT_DT           0
RFDE_TXN_ID           0
FII                   0
SUB_ACC               0
BRKER                 0
SCRIP_NAME            0
ISIN                  0
TR_DATE               0
TR_TYPE(*)            0
RFDE_SE_REG_NUM       0
RFDE_STLD_CODE        0
RATE                  0
QUANTITY              0
VALUE (in Rs)         0
RFDE_INSTR_TYPE       0
RFDE_REASON_DLAY      0
RFDE_RPT_TYPE         0
RFDE_AMDMNT_REASON    0
foreign-exchange      0
Year-Month            0
Inflation-Rate        0
FDI-Inward            0
Year                  0
FDI-Growth-Rate       0
GDP-Growth-Rate       0
IIP                   0
dtype: int64

# UNEMPLOYMENT RATE

In [37]:
unemployement = pd.read_csv("/Users/garg/Desktop/thesis/externel-data/unemployment-rate-world-bank.csv")
unemployement['Year'] = unemployement['Year'].astype('str')

In [38]:
df1['unemployment-rate'] = df1['Year'].map(unemployement.set_index('Year')['Value'])
#df2['unemployment-rate'] = df2['Year'].map(unemployement.set_index('Year')['Value'])

In [39]:
df1.isnull().sum()

RFDE_CUST_REG_NUM     0
RFDE_RPT_DT           0
RFDE_TXN_ID           0
FII                   0
SUB_ACC               0
BRKER                 0
SCRIP_NAME            0
ISIN                  0
TR_DATE               0
TR_TYPE(*)            0
RFDE_SE_REG_NUM       0
RFDE_STLD_CODE        0
RATE                  0
QUANTITY              0
VALUE (in Rs)         0
RFDE_INSTR_TYPE       0
RFDE_REASON_DLAY      0
RFDE_RPT_TYPE         0
RFDE_AMDMNT_REASON    0
foreign-exchange      0
Year-Month            0
Inflation-Rate        0
FDI-Inward            0
Year                  0
FDI-Growth-Rate       0
GDP-Growth-Rate       0
IIP                   0
unemployment-rate     0
dtype: int64

In [40]:
#IIP

# BSE

In [41]:
bse = pd.read_csv("/Users/garg/Desktop/thesis/externel-data/BSE_Sensex.csv")
bse['Date'] = bse['Date'].astype("datetime64[D]")

df1['BSE_Close'] = df1['TR_DATE'].map(bse.set_index('Date')['Close'])
#df2['BSE_Close'] = df2['TR_DATE'].map(bse.set_index('Date')['Close'])

In [42]:
df1.isnull().sum()

RFDE_CUST_REG_NUM       0
RFDE_RPT_DT             0
RFDE_TXN_ID             0
FII                     0
SUB_ACC                 0
BRKER                   0
SCRIP_NAME              0
ISIN                    0
TR_DATE                 0
TR_TYPE(*)              0
RFDE_SE_REG_NUM         0
RFDE_STLD_CODE          0
RATE                    0
QUANTITY                0
VALUE (in Rs)           0
RFDE_INSTR_TYPE         0
RFDE_REASON_DLAY        0
RFDE_RPT_TYPE           0
RFDE_AMDMNT_REASON      0
foreign-exchange        0
Year-Month              0
Inflation-Rate          0
FDI-Inward              0
Year                    0
FDI-Growth-Rate         0
GDP-Growth-Rate         0
IIP                     0
unemployment-rate       0
BSE_Close             541
dtype: int64

In [43]:
#del df1['Unnamed: 0']

In [44]:
df1

,RFDE_CUST_REG_NUM,RFDE_RPT_DT,RFDE_TXN_ID,FII,SUB_ACC,BRKER,SCRIP_NAME,ISIN,TR_DATE,TR_TYPE(*),...,foreign-exchange,Year-Month,Inflation-Rate,FDI-Inward,Year,FDI-Growth-Rate,GDP-Growth-Rate,IIP,unemployment-rate,BSE_Close
0,4,2018-07-03,11279431,F577059403378,S921308190267,B1005050980269,ITC LTD,INE154A01025,2018-07-02,1,...,68.78,2018-07,5.614035,42117.45071,2018,0.01,6.811369,114.5467,5.33,35264.41
1,4,2018-07-03,11279497,F577059403378,S921308190267,B1005050980269,REL NIPPON LIFE ASSET MGMT LTD (X REL CA,INE298J01013,2018-07-02,4,...,68.78,2018-07,5.614035,42117.45071,2018,0.01,6.811369,114.5467,5.33,35264.41
2,4,2018-07-03,11277905,F485992171102,S520281411971,B986604236764,RAMAKRISHNA FORGINGS LTD,INE399G01015,2018-07-02,1,...,68.78,2018-07,5.614035,42117.45071,2018,0.01,6.811369,114.5467,5.33,35264.41
3,4,2018-07-03,11278377,F785263456915,S831787229138,B437325321325,BATA INDIA INR 5,INE176A01028,2018-07-02,1,...,68.78,2018-07,5.614035,42117.45071,2018,0.01,6.811369,114.5467,5.33,35264.41
4,4,2018-07-03,11279422,F415840290653,S1199718379380,B1005050980269,HEXAWARE TECHNOLOGIES LTD. (INR 2),INE093A01033,2018-07-02,4,...,68.78,2018-07,5.614035,42117.45071,2018,0.01,6.811369,114.5467,5.33,35264.41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
680334,9,2019-01-01,190000210,F1185074494837,S676514052929,B1006358103345,HINDUSTAN UNILEVER LTD DM1,INE030A01027,2018-12-31,1,...,69.58,2018-12,5.244755,42117.45071,2018,0.01,6.811369,114.5467,5.33,36068.33
680335,9,2019-01-01,190000460,F721328788622,S1015717112918,B1006358103345,LIC HSG FINANCE LTD DM2,INE115A01026,2018-12-31,1,...,69.58,2018-12,5.244755,42117.45071,2018,0.01,6.811369,114.5467,5.33,36068.33
680336,9,2019-01-01,190000415,F932733894707,S1032373437201,B1182334610875,L AND T FINANCE HOLD LTD DM,INE498L01015,2018-12-31,1,...,69.58,2018-12,5.244755,42117.45071,2018,0.01,6.811369,114.5467,5.33,36068.33
680337,9,2019-01-01,190000315,F664767817726,S814376333069,B1088934408096,CONTAINER CORPORATION DM5,INE111A01025,2018-12-31,1,...,69.58,2018-12,5.244755,42117.45071,2018,0.01,6.811369,114.5467,5.33,36068.33
680338,14,2019-01-01,9818817,F460768536607,S752715380145,B490907260187,RELIANCE INDUSTRIES LTD EQ FV10,INE002A01018,2018-12-31,4,...,69.58,2018-12,5.244755,42117.45071,2018,0.01,6.811369,114.5467,5.33,36068.33

In [45]:
df1.to_csv("/Users/garg/Desktop/thesis/data/2018/jul_to_dec_2018.csv")
#df2.to_csv("/Users/garg/Desktop/thesis/data/2008/jul_to_dec_2008.csv")
#df1.to_csv("/Users/garg/Desktop/thesis/data/2019/dec_2009.csv")