In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib.pyplot import figure
import numpy as np
import matplotlib
import datetime as dt
import statsmodels.api as sm
from sklearn.preprocessing import MinMaxScaler

In [2]:
jan_to_jun_2009 = pd.read_csv("data/2009/jan_to_jun_2009.csv",index_col=0)
jul_to_dec_2009 = pd.read_csv("data/2009/jul_to_dec_2009.csv",index_col=0)
jan_to_jun_2010 = pd.read_csv("data/2010/jan_to_aug_2010.csv",index_col=0)
jul_to_dec_2010 = pd.read_csv("data/2010/sep_to_dec_2010.csv",index_col=0)
jan_to_jun_2011 = pd.read_csv("data/2011/jan_to_jun_2011.csv",index_col=0)
jul_to_dec_2011 = pd.read_csv("data/2011/jul_to_dec_2011.csv",index_col=0)
jan_to_jun_2012 = pd.read_csv("data/2012/jan_to_jun_2012.csv",index_col=0) 
jul_to_dec_2012 = pd.read_csv("data/2012/jul_to_dec_2012.csv",index_col=0)
jan_to_jun_2013 = pd.read_csv("data/2013/jan_to_jun_2013.csv",index_col=0)
jul_to_dec_2013 = pd.read_csv("data/2013/jul_to_dec_2013.csv",index_col=0)
jan_to_jun_2014 = pd.read_csv("data/2014/jan_to_jun_2014.csv",index_col=0)
jul_to_dec_2014 = pd.read_csv("data/2014/jul_to_dec_2014.csv",index_col=0)
jan_to_jun_2015 = pd.read_csv("data/2015/jan_to_jun_2015.csv",index_col=0)
jul_to_dec_2015 = pd.read_csv("data/2015/jul_to_dec_2015.csv",index_col=0)
jan_to_jul_2016 = pd.read_csv("data/2016/jan_to_jul_2016.csv",index_col=0)

df = pd.concat([jan_to_jun_2009,jul_to_dec_2009,jan_to_jun_2010,jul_to_dec_2010,jan_to_jun_2011,jul_to_dec_2011,jan_to_jun_2012,jul_to_dec_2012,jan_to_jun_2013,jul_to_dec_2013,jan_to_jun_2014,jul_to_dec_2014,jan_to_jun_2015,jul_to_dec_2015,jan_to_jul_2016],axis=0)

/Users/garg/anaconda3/envs/Thesis-2/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df = df.loc[df['RFDE_INSTR_TYPE'] == 'REG_DL_INSTR_EQ']
df = df.rename(columns={'VALUE (in Rs)': 'Sale'})
df['TR_DATE'] = df['TR_DATE'].astype('datetime64[D]')
df1 = pd.DataFrame()
df2 = pd.DataFrame()
df1['Date'] = df['TR_DATE']
df1['Sale'] = df['Sale']
df2['Date'] = df['TR_DATE']
df2['Inflation-Rate'] = df['Inflation-Rate']
df2['twitter'] = df['twitter-sentiment']
df2['BSE_Open'] = df['BSE_Open'] 
df2['BSE_High'] = df['BSE_High'] 
df2['BSE_Low'] = df['BSE_Low']
df2['BSE_Close'] = df['BSE_Close']
df2['FDI-Growth'] = df['FDI-Growth-Rate']
df2['FDI-Inward'] = df['FDI-Inward']
df2['GDP-Growth'] = df['GDP-Growth-Rate']

df2['IIP'] = df['IIP']
df2['unemployment-rate'] = df['unemployment-rate']
df2['forex'] = df['foreign-exchange']

df1 = df1.groupby(['Date']).sum()

In [4]:
df1 = df1.reset_index(level='Date')
df2 = df2.groupby(['Date'], as_index=False).mean()
df1['Inflation-Rate'] = df1['Date'].map(df2.set_index('Date')['Inflation-Rate'])
df1['twitter'] = df1['Date'].map(df2.set_index('Date')['twitter'])
df1['BSE_Open'] = df1['Date'].map(df2.set_index('Date')['BSE_Open'])
df1['BSE_High'] = df1['Date'].map(df2.set_index('Date')['BSE_High'])
df1['BSE_Low'] = df1['Date'].map(df2.set_index('Date')['BSE_Low'])
df1['BSE_Close'] = df1['Date'].map(df2.set_index('Date')['BSE_Close'])
df1['FDI-Growth'] = df1['Date'].map(df2.set_index('Date')['FDI-Growth'])
df1['FDI-Inward'] = df1['Date'].map(df2.set_index('Date')['FDI-Inward'])
df1['GDP-Growth'] = df1['Date'].map(df2.set_index('Date')['GDP-Growth'])
df1['IIP'] = df1['Date'].map(df2.set_index('Date')['IIP'])
df1['U-R'] = df1['Date'].map(df2.set_index('Date')['unemployment-rate'])
df1['forex'] = df1['Date'].map(df2.set_index('Date')['forex'])

In [5]:
test = df1
test['U-R'] = test['U-R'].replace(to_replace=0, method='ffill')
test['FDI-Inward'] = test['FDI-Inward'].fillna(method='ffill')

In [6]:
test.dtypes

Date              datetime64[ns]
Sale                     float64
Inflation-Rate           float64
twitter                  float64
BSE_Open                 float64
BSE_High                 float64
BSE_Low                  float64
BSE_Close                float64
FDI-Growth               float64
FDI-Inward               float64
GDP-Growth               float64
IIP                      float64
U-R                      float64
forex                    float64
dtype: object

In [7]:
test['twitter'] = test['twitter'].replace(to_replace=-3.000000, method='ffill')

In [8]:
#test = test.drop(test[test.Sale == 0.0].index)

In [9]:
test

,Date,Sale,Inflation-Rate,twitter,BSE_Open,BSE_High,BSE_Low,BSE_Close,FDI-Growth,FDI-Inward,GDP-Growth,IIP,U-R,forex
0,2009-01-01,3.343394e+09,10.447760,-0.012983,3618.00,3885.52,3190.15,3426.76,0.20,35582.37047,7.861882,80.07885,5.566,48.2825
1,2009-01-02,1.542561e+10,10.447760,-0.012983,3404.67,3529.88,3155.42,3232.11,0.20,35582.37047,7.861882,80.07885,5.566,48.2500
2,2009-01-05,2.901384e+10,10.447760,0.082790,4232.99,5562.60,4232.99,5520.25,0.20,35582.37047,7.861882,80.07885,5.566,48.5000
3,2009-01-06,4.101809e+10,10.447760,0.066852,5602.13,5886.88,5281.42,5492.03,0.20,35582.37047,7.861882,80.07885,5.566,48.5000
4,2009-01-07,5.933185e+10,10.447760,0.037050,5505.98,5987.42,4983.95,5940.38,0.20,35582.37047,7.861882,80.07885,5.566,48.5600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2047,2016-07-25,9.187946e+10,6.463878,0.111160,11052.77,11633.37,11052.72,11585.96,0.23,44458.57155,8.169527,105.20730,5.511,67.4100
2048,2016-07-26,1.033002e+11,6.463878,0.162008,11052.77,11633.37,11052.72,11585.96,0.23,44458.57155,8.169527,105.20730,5.511,67.3400
2049,2016-07-27,9.299072e+10,6.463878,0.029116,11052.77,11633.37,11052.72,11585.96,0.23,44458.57155,8.169527,105.20730,5.511,67.1400
2050,2016-07-28,1.524660e+11,6.463878,-0.037010,11052.77,11633.37,11052.72,11585.96,0.23,44458.57155,8.169527,105.20730,5.511,66.9600
2051,2016-07-29,1.112347e+11,6.463878,0.090989,11052.77,11633.37,11052.72,11585.96,0.23,44458.57155,8.169527,105.20730,5.511,66.7700

In [ ]:
del test['Date']
#del test['Sale']

In [ ]:

# multivariate data preparation
from numpy import array

In [ ]:
data = []

In [ ]:
data = test

In [ ]:
data = data.to_numpy()

In [ ]:
data.shape

In [ ]:
def split_sequences(sequences, n_steps):
    X, y = list(), list()
    #print(len(sequences))
    for i in range(len(sequences)):
        # find the end of this pattern
        end_ix = i + n_steps
        # check if we are beyond the dataset
        if end_ix > len(sequences):
            break
		# gather input and output parts of the pattern
        seq_x, seq_y = sequences[i:end_ix,], sequences[end_ix -1,0]
        X.append(seq_x)
        y.append(seq_y)
    return array(X), array(y)

In [ ]:
n_steps = 5

In [ ]:
X, y = split_sequences(data, n_steps)

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
data_normalize = scaler.fit_transform(data)

In [ ]:
data_normalize.shape

In [ ]:
#data = data.to_numpy()

In [ ]:
#scaler = MinMaxScaler(feature_range=(0, 1))
#scaler = scaler.fit(data)
#data_normalized = scaler.transform(data)

In [ ]:
#data.shape

In [ ]:
from keras import optimizers
from matplotlib import pyplot
from keras.layers import Dropout
# lstm autoencoder recreate sequence
from numpy import array
from keras.models import Sequential
from keras.models import Model
from keras.layers import LSTM
from keras.layers import Dense
from keras.layers import RepeatVector
from keras.layers import TimeDistributed
from keras.utils import plot_model

In [ ]:
batch = 5
lr = 0.0001

In [ ]:
X_train = data_normalize.reshape((data_normalize.shape[0], data_normalize.shape[1],1))

In [ ]:
#X_train.shape

In [ ]:
encoder_decoder = Sequential()
encoder_decoder.add(LSTM(50, activation='relu', input_shape=(13, 1), return_sequences=True))
encoder_decoder.add(Dropout(0.25))
encoder_decoder.add(LSTM(1, activation='relu'))
encoder_decoder.add(RepeatVector(13))
encoder_decoder.add(LSTM(50, activation='relu', return_sequences=True))
encoder_decoder.add(Dropout(0.25))
encoder_decoder.add(TimeDistributed(Dense(1)))
encoder_decoder.summary()

adam = optimizers.Adam(lr)
encoder_decoder.compile(loss='mae', optimizer=adam)

In [ ]:
encoder_decoder_history = encoder_decoder.fit(X_train, X_train, epochs=100,batch_size=batch,verbose=1)

In [ ]:
encoder = Model(inputs=encoder_decoder.inputs, outputs=encoder_decoder.layers[2].output)

In [ ]:
train_encoded = encoder.predict(X_train)

In [ ]:
train_encoded.shape

In [ ]:
yhat = encoder_decoder.predict(X_train)

In [ ]:
yhat.shape

In [ ]:
yhat = yhat.reshape(2052,13)

In [ ]:
yhat = scaler.inverse_transform(yhat)

In [ ]:
abc = pd.DataFrame(data=yhat)

In [ ]:
abc

In [ ]:
#rpt_vector_layer = Model(inputs=encoder_decoder.inputs, outputs=encoder_decoder.layers[3].output)

In [ ]:
#rpt_vector_layer_output = rpt_vector_layer.predict(X_train[:1])

In [ ]:
#rpt_vector_layer_output.shape