In [1]:
import pandas as pd
import csv
import re #regular expression
from textblob import TextBlob
import string
import preprocessor as p

In [2]:
from preprocessor.api import clean

In [3]:
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import sent_tokenize, word_tokenize

In [4]:
#Bombay_Stock_Exchange = pd.read_csv("/Users/garg/Desktop/twint-master/2008/Bombay-Stock-Exchange.csv",usecols=['date','tweet'])
#Investment_In_India = pd.read_csv("/Users/garg/Desktop/twint-master/2008/Investment-in-India.csv",usecols=['date','tweet'])
#Nifty_50 = pd.read_csv("/Users/garg/Desktop/twint-master/2008/NIFTY-50.csv",usecols=['date','tweet'])
#sensex = pd.read_csv("/Users/garg/Desktop/twint-master/2008/sensex.csv",usecols=['date','tweet'])

In [5]:
#df = pd.concat([Bombay_Stock_Exchange,Investment_In_India,BSE,Nifty,sensex], ignore_index=True, sort =True)

In [6]:
#df = pd.concat([Bombay_Stock_Exchange,Investment_In_India,Nifty_50,sensex], ignore_index=True, sort =True)
df = pd.read_csv("/Users/garg/Desktop/2008-december.csv")
del df['Sentiment']
df
#df = pd.read_csv("sentiment-filtered.csv")

       Date                                              Tweet
0  31/12/08  India's Sensex ends 2008 with 52-percent annua...
1  31/12/08  GBN BSE Sensex seen rising on last day of 2008...
2  31/12/08  sensex: Banks can\'t slash rates even if RBI c...
3  31/12/08  GBN BSE Sensex up but set for yearly fall sinc...
4  31/12/08  Sensex ends 2008 with 52-per cent annualised l...
5  31/12/08  India Stocks Decline, Extending Record Annual ...
6  31/12/08  GBN BSE Sensex up but set for yearly fall sinc...
7  31/12/08  GBN BSE Sensex seen rising on last day of 2008...
8  31/12/08  Us press shud: Compare bonus offered by US inv...

In [ ]:
df = df.sort_values(by='date')

In [7]:
#df = df.drop_duplicates(subset=['tweet'], keep=False)

In [8]:
#df=df.reset_index()

In [9]:
df

       Date                                              Tweet
0  31/12/08  India's Sensex ends 2008 with 52-percent annua...
1  31/12/08  GBN BSE Sensex seen rising on last day of 2008...
2  31/12/08  sensex: Banks can\'t slash rates even if RBI c...
3  31/12/08  GBN BSE Sensex up but set for yearly fall sinc...
4  31/12/08  Sensex ends 2008 with 52-per cent annualised l...
5  31/12/08  India Stocks Decline, Extending Record Annual ...
6  31/12/08  GBN BSE Sensex up but set for yearly fall sinc...
7  31/12/08  GBN BSE Sensex seen rising on last day of 2008...
8  31/12/08  Us press shud: Compare bonus offered by US inv...

In [10]:
#Happy Emoticons
emoticons_happy = set([
    ':-)', ':)', ';)', ':o)', ':]', ':3', ':c)', ':>', '=]', '8)', '=)', ':}',
    ':^)', ':-D', ':D', '8-D', '8D', 'x-D', 'xD', 'X-D', 'XD', '=-D', '=D',
    '=-3', '=3', ':-))', ":'-)", ":')", ':*', ':^*', '>:P', ':-P', ':P', 'X-P',
    'x-p', 'xp', 'XP', ':-p', ':p', '=p', ':-b', ':b', '>:)', '>;)', '>:-)',
    '<3'
    ])

In [11]:
# Sad Emoticons
emoticons_sad = set([
    ':L', ':-/', '>:/', ':S', '>:[', ':@', ':-(', ':[', ':-||', '=L', ':<',
    ':-[', ':-<', '=\\', '=/', '>:(', ':(', '>.<', ":'-(", ":'(", ':\\', ':-c',
    ':c', ':{', '>:\\', ';('
    ])

In [12]:
#Emoji patterns
emoji_pattern = re.compile("["
         u"\U0001F600-\U0001F64F"  # emoticons
         u"\U0001F300-\U0001F5FF"  # symbols & pictographs
         u"\U0001F680-\U0001F6FF"  # transport & map symbols
         u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
         u"\U00002702-\U000027B0"
         u"\U000024C2-\U0001F251"
         "]+", flags=re.UNICODE)

In [13]:
#combine sad and happy emoticons
emoticons = emoticons_happy.union(emoticons_sad)

In [15]:
clean_text = []
for i in range(0,len(df['Tweet'])):
    TextCleaning = clean(df['Tweet'][i])
    clean_text.append(TextCleaning)

In [16]:
clean_text = pd.DataFrame(clean_text)
clean_text.columns=["Clean-Tweet"]

In [17]:
def clean_tweets(tweet):
 
    stop_words = set(stopwords.words('english'))
    word_tokens = word_tokenize(tweet)
#after tweepy preprocessing the colon symbol left remain after      #removing mentions
    tweet = re.sub(r':', '', tweet)
    tweet = re.sub(r'‚Ä¶', '', tweet)
#replace consecutive non-ASCII characters with a space
    tweet = re.sub(r'[^\x00-\x7F]+',' ', tweet)
#remove emojis from tweet
    tweet = emoji_pattern.sub(r'', tweet)

    #remove hashtags 
    tweet = re.sub("[^a-zA-Z]", " ", tweet)
    
    #remove url
    tweet = re.sub(r'(https|http)?:\/\/(\w|\.|\/|\?|\=|\&|\%)*\b', '', tweet, flags=re.MULTILINE)
    #filter using NLTK library append it to a string
    filtered_tweet = [w for w in word_tokens if not w in stop_words]
    filtered_tweet = []
#looping through conditions
    for w in word_tokens:
#check tokens against stop words , emoticons and punctuations
        if w not in stop_words and w not in emoticons and w not in string.punctuation:
            filtered_tweet.append(w)
    return ' '.join(filtered_tweet)
    #print(word_tokens)
    #print(filtered_sentence)return tweet

In [18]:
import nltk
nltk.download('stopwords')
nltk.download('punkt')

[nltk_data] Downloading package stopwords to /Users/garg/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /Users/garg/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [ ]:
clean_text_2 = []
for i in range(0,len(clean_text['Clean-Tweet'])):
    TextCleaning = clean_tweets(df['Tweet'][i])
    clean_text_2.append(TextCleaning)

In [ ]:
clean_text_2 = pd.DataFrame(clean_text_2)
clean_text_2.columns=["Clean-Tweet"]

In [ ]:
clean_text_2

In [ ]:
clean_text_2 = clean_text_2.drop_duplicates(subset=['Clean-Tweet'], keep=False)

In [ ]:

clean_text_2=clean_text_2.reset_index()

In [ ]:
clean_text_2

In [ ]:
polarity = []
for i in range(0,len(clean_text_2['Clean-Tweet'])):
    blob = TextBlob(clean_text_2['Clean-Tweet'][i])
    Sentiment = blob.sentiment     
    print(Sentiment)
    polarity.append(Sentiment.polarity)
    subjectivity = Sentiment.subjectivity

In [ ]:
len(polarity)
clean_text_2['Twitter-Sentiment'] = pd.DataFrame(polarity)
df['BSE_Sentiment'] = clean_text_2['Twitter-Sentiment']

In [ ]:
df['date'] = df['date'].astype('datetime64[D]')

In [ ]:
df.to_csv("2018.csv")

In [ ]:
jul_to_dec = pd.read_csv("/Users/garg/Desktop/thesis/data/2009/jul_to_dec_2009.csv",encoding= 'unicode_escape')
jul_to_dec['twitter-sentiment'] = ""
jul_to_dec['TR_DATE'] = april['TR_DATE'].astype('datetime64[D]')
jul_to_dec['twitter-sentiment'] = jul_to_dec['TR_DATE'].map(df1_new.set_index('date')['BSE_Sentiment'])
jul_to_dec['twitter-sentiment'] = jul_to_dec['twitter-sentiment'].fillna(-3)
jul_to_dec.to_csv('jul_to_dec.csv')

In [ ]:
df1_new

In [ ]:
df1_new.shape

In [ ]:
#df_new

In [ ]:
df1_new.shape

In [ ]:
df1_new.to_csv('Filter.csv')

# April

In [ ]:
#april = pd.read_excel("thesis/data/2017/apr_2017.xlsx")
april = pd.read_csv("/Users/garg/Desktop/Again/apr_2019.csv",encoding= 'unicode_escape')
april['twitter-sentiment'] = ""
april['TR_DATE'] = april['TR_DATE'].astype('datetime64[D]')
april['twitter-sentiment'] = april['TR_DATE'].map(df1_new.set_index('date')['BSE_Sentiment'])
april['twitter-sentiment'] = april['twitter-sentiment'].fillna(-3)
april.to_csv('apr_2019.csv')

# August

In [ ]:
#aug = pd.read_excel("thesis/data/2017/aug_2017.xlsx")
aug = pd.read_csv("thesis/data/2017/aug_2017.csv",encoding= 'unicode_escape')
aug['twitter-sentiment'] = ""
aug['TR_DATE'] = aug['TR_DATE'].astype('datetime64[D]')
aug['twitter-sentiment'] = aug['TR_DATE'].map(df_new.set_index('date')['BSE_Sentiment'])
aug['twitter-sentiment'] = aug['twitter-sentiment'].fillna(-3)
aug.to_csv('aug_2017.csv')

# DECEMBER

In [ ]:
#dec = pd.read_excel("thesis/data/2017/dec_2019.xlsx")
dec = pd.read_csv("thesis/data/2017/dec_2017.csv",encoding= 'unicode_escape')
dec['twitter-sentiment'] = ""
dec['TR_DATE'] = dec['TR_DATE'].astype('datetime64[D]')
dec['twitter-sentiment'] = dec['TR_DATE'].map(df_new.set_index('date')['BSE_Sentiment'])
dec['twitter-sentiment'] = dec['twitter-sentiment'].fillna(-3)
dec.to_csv('dec_2017.csv')

# FEBRUARY

In [ ]:
#feb = pd.read_excel("thesis/data/2019/feb_2019.xlsx")
feb = pd.read_csv("/Users/garg/Desktop/Again/feb_2018.csv",encoding= 'unicode_escape')
feb['twitter-sentiment'] = ""
feb['TR_DATE'] = feb['TR_DATE'].astype('datetime64[D]')
feb['twitter-sentiment'] = feb['TR_DATE'].map(df1_new.set_index('date')['BSE_Sentiment'])
feb['twitter-sentiment'] = feb['twitter-sentiment'].fillna(-3)
feb.to_csv('feb_2018.csv')

# January

In [ ]:
#jan = pd.read_excel("thesis/data/2019/jan_2019.xlsx")
jan = pd.read_csv("/Users/garg/Desktop/Again/jan_2018.csv",encoding= 'unicode_escape')
jan['twitter-sentiment'] = ""
jan['TR_DATE'] = jan['TR_DATE'].astype('datetime64[D]')
jan['twitter-sentiment'] = jan['TR_DATE'].map(df1_new.set_index('date')['BSE_Sentiment'])
jan['twitter-sentiment'] = jan['twitter-sentiment'].fillna(-3)
jan.to_csv('jan_2018.csv')

# JULY

In [ ]:
#jul = pd.read_excel("thesis/data/2019/jul_2019.xlsx")
jul = pd.read_csv("thesis/data/2017/jul_2017.csv",encoding= 'unicode_escape')
jul['twitter-sentiment'] = ""
jul['TR_DATE'] = jul['TR_DATE'].astype('datetime64[D]')
jul['twitter-sentiment'] = jul['TR_DATE'].map(df_new.set_index('date')['BSE_Sentiment'])
jul['twitter-sentiment'] = jul['twitter-sentiment'].fillna(-3)
jul.to_csv('jul_2017.csv')

# June

In [ ]:
#jun = pd.read_excel("thesis/data/2019/jun_2019.xlsx")
jun = pd.read_csv("/Users/garg/Desktop/Again/jun_2018.csv",encoding= 'unicode_escape')
jun['twitter-sentiment'] = ""
jun['TR_DATE'] = jun['TR_DATE'].astype('datetime64[D]')
jun['twitter-sentiment'] = jun['TR_DATE'].map(df1_new.set_index('date')['BSE_Sentiment'])
jun['twitter-sentiment'] = jun['twitter-sentiment'].fillna(-3)
jun.to_csv('jun_2018.csv')

# March

In [ ]:
#mar = pd.read_excel("thesis/data/2019/mar_2019.xlsx")
mar = pd.read_csv("thesis/data/2017/mar_2017.csv",encoding= 'unicode_escape')
mar['twitter-sentiment'] = ""
mar['TR_DATE'] = mar['TR_DATE'].astype('datetime64[D]')
mar['twitter-sentiment'] = mar['TR_DATE'].map(df_new.set_index('date')['BSE_Sentiment'])
mar['twitter-sentiment'] = mar['twitter-sentiment'].fillna(-3)
mar.to_csv('mar_2017.csv')

# May

In [ ]:
#may = pd.read_excel("thesis/data/2019/may_2019.xlsx")
may = pd.read_csv("thesis/data/2017/may_2017.csv",encoding= 'unicode_escape')
may['twitter-sentiment'] = ""
may['TR_DATE'] = may['TR_DATE'].astype('datetime64[D]')
may['twitter-sentiment'] = may['TR_DATE'].map(df_new.set_index('date')['BSE_Sentiment'])
may['twitter-sentiment'] = may['twitter-sentiment'].fillna(-3)
may.to_csv('may_2017.csv')

# November

In [ ]:
#nov = pd.read_excel("thesis/data/2018-no-August/nov_2018.xlsx")
nov = pd.read_csv("thesis/data/2017/nov_2017.csv",encoding= 'unicode_escape')
nov['twitter-sentiment'] = ""
nov['TR_DATE'] = nov['TR_DATE'].astype('datetime64[D]')
nov['twitter-sentiment'] = nov['TR_DATE'].map(df_new.set_index('date')['BSE_Sentiment'])
nov['twitter-sentiment'] = nov['twitter-sentiment'].fillna(-3)
nov.to_csv('nov_2017.csv')

# October

In [ ]:
#october = pd.read_excel("thesis/data/2018-no-August/oct_2018.xlsx")
october = pd.read_csv("/Users/garg/Desktop/Again/oct_2018.csv",encoding= 'unicode_escape')
october['twitter-sentiment'] = ""
october['TR_DATE'] = october['TR_DATE'].astype('datetime64[D]')
october['twitter-sentiment'] = october['TR_DATE'].map(df1_new.set_index('date')['BSE_Sentiment'])
october['twitter-sentiment'] = october['twitter-sentiment'].fillna(-3)
october.to_csv('oct_2018.csv')

# september

In [ ]:
#sep = pd.read_excel("thesis/data/2017/sep_2017.xlsx")
sep = pd.read_csv("thesis/data/2017/sep_2017.csv",encoding= 'unicode_escape')
sep['twitter-sentiment'] = ""
sep['TR_DATE'] = sep['TR_DATE'].astype('datetime64[D]')
sep['twitter-sentiment'] = sep['TR_DATE'].map(df_new.set_index('date')['BSE_Sentiment'])
sep['twitter-sentiment'] = sep['twitter-sentiment'].fillna(-3)
sep.to_csv('sep_2017.csv')